<div class="container">
		<div class="row">
        <h3>Mypage</h3>
　　　　　　<div class="col-lg-9">
    <ul>
      <h4><%= @user.name %>'s page</h4>
        <% if @user.images.attached? %>
            <% @user.images.each do |image| %>
              <%= image_tag image, class: "img" %> <br>
            <% end %>
        <% end %>

        <p>Twitter</p>
        <p><%= @user.twitter_id %></p>
      	<p>Livein</p>
      	<p><%= @user.livein %></p>
      	<p>Maker</p>
        <p><%= @user.maker %></p>
        <p>Type</p>
        <p><%= @user.syasyu %></p>
      	<p>Introduce</p>
      	<p><%= @user.introduce %></p>
    </ul>

     <% if current_user.id == @user.id %>
       <div>
        <%= link_to 'Edit user', edit_user_path %>
        <%= link_to 'Delete user' ,users_leave_path %>
       </div>
     <%end%>
  </div>
</div>