	<h2>Welcome to Find a low floor!!</h2>
		<div class='container'>
	      <ul class='single-item'>
		        <li><%= image_tag 'sride.jpg', class: "imgs" %></li>
		        <li><%= image_tag 'sride1.jpg', class: "imgs" %></li>
		        <li><%= image_tag 'sride2.jpg', class: "imgs" %></li>
		        <li><%= image_tag 'sride3.jpg', class: "imgs" %></li>
		        <li><%= image_tag 'sride4.jpg', class: "imgs" %></li>
		        <li><%= image_tag 'sride5.jpg', class: "imgs" %></li>
	      </ul>
	      <div class="intro">
	      	<a>ここは住んでいる地域、乗っている車などで特にキマっている人たちだけを集め、交流やオフ会招集をしやすくするためのアプリです。</a>
	    </div>